html{size:16px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
body{background:whitesmoke;}
.container{background-color:white; position:sticky; width:35%;left:35%;height:inherit; border-radius:10px;
text-align: center;}
.container h1{font-weight: bolder;color:black;}
.container form{font-weight:600; color:black;}
.container input{border-radius: 3px;padding:5px;color:white; width:80%;}
.container input:valid{background: green;}
.container input:invalid{background: pink;}

#mensaje    {height:150px;}
#mensaje:invalid{background: white;}
#btn{color:white;background: blue; width:85%;border-radius: 15px;height:40px;font-weight: bolder;}